<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reconcycle" >

    <!-- Usefull parameters -->
    <xacro:include filename="$(find reconcycle_description)/urdf/reconcycle_defaults.xacro" />

    <xacro:panda_arm in_gazebo="$(arg in_gazebo)" arm_id="rob_1" connected_to="$(arg table_0_name)" xyz="0 0 $(arg table_surf_thickness)"/>

    <!-- Panda robots -->
    <xacro:include filename="$(find franka_panda_description)/robots/panda_arm.xacro"/>
    
    <xacro:arg name="robot_name" default="panda"/>
    <xacro:arg name="load_gripper" default="false"/>
    <xacro:arg name="load_gazebo" default="true"/>
    <xacro:arg name="in_gazebo" default="true"/>
    <xacro:arg name="use_gazebo_control" default="false"/> 
    <xacro:panda_arm in_gazebo="$(arg in_gazebo)" arm_id="rob_1" connected_to="$(arg table_0_name)" xyz="0 0 $(arg table_surf_thickness)"/>
    <xacro:panda_arm in_gazebo="$(arg in_gazebo)" arm_id="rob_2" connected_to="$(arg table_5_name)" xyz="0 0 $(arg table_surf_thickness)"/>

    <xacro:if value="$(arg load_gazebo)">  
        <xacro:include filename="$(find franka_panda_description)/robots/panda.gazebo.xacro"/>
        <xacro:include filename="$(find franka_panda_description)/robots/panda.transmission.xacro"/>

        <xacro:panda_gazebo robot_name="rob_1" load_gripper="$(arg load_gripper)"/>
        <xacro:panda_transmission robot_name="rob_1" load_gripper="$(arg load_gripper)" use_gazebo_control="false"/> 
    </xacro:if>

    <xacro:tc_robot_side tc_id="tc_robot_1" connected_to="rob_1_link8"/>
    <xacro:tc_robot_side tc_id="tc_robot_2" connected_to="rob_2_link8"/>
</robot>
