<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="schunk_pzh20_adapter">
    <xacro:arg name="schunk_adapter_id" default="schunk_pzh20_adapter"/>
    <link name="$(arg schunk_adapter_id)">
        <visual>
            <origin rpy="0 0 0" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/grippers/schunk_to_tc_adapter.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.0 0.0 0"/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/grippers/schunk_to_tc_adapter.stl" scale ="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="3"/>
            <inertia ixx="3.0" ixy="0.0" ixz="0.0" iyy="3.0" iyz="0.0" izz="3.0"/>
        </inertial>
    </link>
</robot>
