<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table_module">
<xacro:macro name="table_module" params="table_id:='table' connected_to:='' xyz:='' rpy:=''">

    <xacro:unless value="${not connected_to}">
      <joint name="${table_id}_joint_${connected_to}" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${table_id}"/>
        <xacro:unless value="${not xyz}">
            <origin rpy="${rpy}" xyz="${xyz}"/>
        </xacro:unless>
        <xacro:if value="${not xyz}">
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </xacro:if>
      </joint>
    </xacro:unless>

    <!-- The table -->
    <link name="${table_id}">
        <visual>
            <origin rpy="${pi/2} 0 0" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/table.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="${pi/2} 0 0" xyz="0.0 0.0 0"/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/table.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="20"/>
            <inertia ixx="20" ixy="0.0" ixz="0.0" iyy="20" iyz="0.0" izz="20"/>
        </inertial>
    </link>

    <!-- Add a PNP connector to each side of the table -->
    <link name="${table_id}_pnp_connector_1">
        <visual>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="${table_id}_pnp_1_joint" type="fixed">
        <origin rpy="0 0 ${0*pi/2}" xyz="0.240 0.0 -0.047"/>
        <parent link="${table_id}"/>
        <child link="${table_id}_pnp_connector_1"/>
    </joint>
    <link name="${table_id}_pnp_connector_2">
        <visual>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="${table_id}_pnp_2_joint" type="fixed">
        <origin rpy="0 0 ${pi/2}" xyz="0.0 0.240 -0.047"/>
        <parent link="${table_id}"/>
        <child link="${table_id}_pnp_connector_2"/>
    </joint>
    <link name="${table_id}_pnp_connector_3">
        <visual>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="${table_id}_pnp_3_joint" type="fixed">
        <origin rpy="0 0 ${pi}" xyz="-0.240 0.0 -0.047"/>
        <parent link="${table_id}"/>
        <child link="${table_id}_pnp_connector_3"/>
    </joint>
    <link name="${table_id}_pnp_connector_4">
        <visual>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="${pi/2} 0 ${pi/2}" xyz=" 0 0 0 "/>
            <geometry>
                <mesh filename="package://reconcycle_description/meshes/pnp.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="${table_id}_pnp_4_joint" type="fixed">
        <origin rpy="0 0 ${3*pi/2}" xyz="0.0 -0.240 -0.047"/>
        <parent link="${table_id}"/>
        <child link="${table_id}_pnp_connector_4"/>
    </joint>
</xacro:macro>
</robot>    