<launch> 
  <!-- tools added to rviz - under URDF  -->
  <arg name="tool_model_screwdriver" default="$(find reconcycle_description)/urdf/screwdriver.xacro" />
  <arg name="tool_model_vacuumgripper" default="$(find reconcycle_description)/urdf/vacuumgripper.xacro" />
  <arg name="tool_model_parallelgripper" default="$(find reconcycle_description)/urdf/parallelgripper.xacro" />

  <group ns="tools">
    <param name="screwdriver" command="$(find xacro)/xacro $(arg tool_model_screwdriver)" />
    <param name="vacuumgripper" command="$(find xacro)/xacro $(arg tool_model_vacuumgripper)" />
    <param name="parallelgripper" command="$(find xacro)/xacro $(arg tool_model_parallelgripper)" />
    <node name="screwdriver" pkg="reconcycle_description" type="tool_changer_rviz.py" args="--tool 'screwdriver' --frame 'tool_frame_1' --Tmatrix 0 0 0 0 0 0" output="screen" />
    <node name="vacuumgripper" pkg="reconcycle_description" type="tool_changer_rviz.py" args="--tool 'vacuumgripper' --frame 'tool_frame_2' --Tmatrix 0 0 0 0 0 0" output="screen" />
    <node name="parallelgripper" pkg="reconcycle_description" type="tool_changer_rviz.py" args="--tool 'parallelgripper' --frame 'tool_frame_3' --Tmatrix 0 0 0 0 0 0" output="screen" />
  </group>
  
</launch>