<launch>
  <arg name="hand_model" default="$(find qb_hand_description)/urdf/qbhand.urdf.xacro"/>
  <arg name="robot_gazebo" default="false" />
  <arg name="robot_absent" default="true" />
  <arg name="group" default="qbhand" />
  
  <group ns='$(arg group)'>
    <param unless="$(arg robot_gazebo)" name="robot_description" command="$(find xacro)/xacro $(arg hand_model)"/>
    <node if="$(arg robot_absent)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- Custom frame - softhand edge of fingers (for dragging stuff) -->
    <node name="softhand_to_fingers" pkg="tf" type="static_transform_publisher" args="0 0.02 0.22 -1.5708 -1.5708 0 qbhand1_base_link qbhand1_fingers_drag 50" />
    
  </group> 
  
  
  
</launch>
