<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />
  <param name="/use_sim_time" value="false" />

  <!-- General arguments-->
  <arg name="rvizconfig" default="$(find reconcycle_description)/rviz/emo2021.rviz" />
  <arg name="table_layout" default="$(find reconcycle_description)/layouts/qundis_layout.xacro" />
  <arg name="panda_model" default="$(find reconcycle_description)/urdf/reconcycle_panda.xacro" />
  <arg name="rviz" default="true" />

  <!-- ReconCycle tables -->
  <group ns='table'>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg table_layout)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- temporarty sollution - a bit ugly as franka_control doesnt support tf_prefix -->
  <arg name='panda1_prefix' value='panda_1/' /> <!-- or empty -->
  <arg name='panda1_name' value='panda_1' /> <!-- or panda -->

  <!-- Panda 1 -->
  <group ns='panda_1'>
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(arg panda_model)' robot_name:='panda' connected_to:=''" /> -->
    <node name="table_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.02 0 0 0 table_rob_1 $(arg panda1_prefix)$(arg panda1_name)_link0 100" />
    <node name="panda_link8_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda1_prefix)$(arg panda1_name)_link8 $(arg panda1_name)_link8 100" /> 
    <node name="panda_EE_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda1_name)_EE $(arg panda1_prefix)panda_EE 100" />
    <node name="fange_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.01 -0.785 3.14159 0 $(arg panda1_prefix)$(arg panda1_name)_link8 $(arg panda1_prefix)$(arg panda1_name)_flange 100" />
    <node name="tc_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 $(arg panda1_prefix)$(arg panda1_name)_flange $(arg panda1_prefix)$(arg panda1_name)_tc_robot 100" />
  </group>

  <!-- manual calibration for vision @ EMO -->
  <!-- node name="panda_1_to_calib" pkg="tf" type="static_transform_publisher" args="0.2602 -0.6074 0 0 0 0 1 $(arg panda1_prefix)$(arg panda1_name)_link0 vision_table_calib 100" / -->
  <node name="panda_1_to_calib" pkg="tf" type="static_transform_publisher" args="0.329 0 0 0 0 1 0 $(arg panda1_prefix)$(arg panda1_name)_link0 vision_table_calib 100" />

  <!-- TODO: add panda_2 -->

  <!-- Softhand -->
  <include file="$(find reconcycle_description)/launch/softhand_adaptor.launch">
    <arg name="connected_to" value="$(arg panda1_prefix)$(arg panda1_name)_tc_robot" />
  </include>

  <!-- Tool holder and tools
  <include file="$(find reconcycle_description)/launch/display_tools.launch" /> -->

  <!-- RVIZ GUI -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
