<launch>
    <arg name="screwdriver_robot_simulation" default="$(find reconcycle_description)/urdf/screwdriver.xacro" />
    <arg name="robot_gazebo" default="false" />
    <arg name="group" default="toolholder" />
    <arg name="namespace" default="True" />

    <group ns="$(arg group)" >
        <param unless="$(arg robot_gazebo)" name="screwdriver_on_panda2" command="$(find xacro)/xacro $(arg screwdriver_robot_simulation) screwdriver_id:=screwdriver_panda_2" />
        <node if="$(arg namespace)" name="screwdriver_to_panda_2" pkg="tf" type="static_transform_publisher" args="0 0 0.05 2.09439 3.14159 0 panda_2/panda_2_tc_robot screwdriver 100"/>
        <node unless="$(arg namespace)" name="screwdriver_to_panda_2" pkg="tf" type="static_transform_publisher" args="0 0 0.05 2.09439 3.14159 0 panda_2_tc_robot screwdriver_robot_panda2 100"/>
    </group>
</launch>
