<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />
  <param name="/use_sim_time" value="false" />

  <!-- General arguments-->
  <arg name="rvizconfig" default="$(find reconcycle_description)/rviz/qundis_hca.rviz" />
  <arg name="table_layout" default="$(find reconcycle_description)/layouts/qundis_layout.xacro" />
  <arg name="panda_model" default="$(find reconcycle_description)/urdf/reconcycle_panda.xacro" />
  <arg name="rviz" default="true" />
  <arg name="robot_gazebo" default="false"/>
  <arg name="robot_absent" default="false"/>

  <!-- ReconCycle tables -->
  <group ns='table'>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg table_layout)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- temporary solution - a bit ugly as franka_control doesnt support tf_prefix -->
  <arg name='panda1_prefix' value='panda_1/' /> <!-- or empty -->
  <arg name='panda2_prefix' value='panda_2/' /> <!-- or empty -->
  <arg name='panda1_name' value='panda_1' /> <!-- or panda -->
  <arg name='panda2_name' value='panda_2' /> <!-- or panda -->

  <!-- Panda 1 -->
  <group ns='panda_1'>
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(arg panda_model)' robot_name:='panda' connected_to:=''" /> -->
    <node name="table_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.02 1.570796 0 0 table_rob_1 $(arg panda1_prefix)$(arg panda1_name)_link0 100" />
    <node name="panda_link8_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda1_prefix)$(arg panda1_name)_link8 $(arg panda1_name)_link8 200" /> 
    <node name="panda_EE_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda1_name)_EE $(arg panda1_prefix)panda_EE 100" />
    <node name="flange_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.01 -0.785 3.14159 0 $(arg panda1_prefix)$(arg panda1_name)_link8 $(arg panda1_prefix)$(arg panda1_name)_flange 100" />
    <node name="tc_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda1_prefix)$(arg panda1_name)_flange $(arg panda1_prefix)$(arg panda1_name)_tc_robot 100" />
  </group>

  <!-- Panda 2 -->
  <group ns='panda_2'>
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(arg panda_model)' robot_name:='panda' connected_to:=''" /> -->
    <node name="table_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.02 1.570796 0 0 table_rob_2 $(arg panda2_prefix)$(arg panda2_name)_link0 100" />
    <node name="flange_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0.01 -0.785 3.14159 0 $(arg panda2_prefix)$(arg panda2_name)_link8 $(arg panda2_prefix)$(arg panda2_name)_flange 100" />
    <node name="tc_to_panda" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 -0.1305262 0.9914449 $(arg panda2_prefix)$(arg panda2_name)_flange $(arg panda2_prefix)$(arg panda2_name)_tc_robot 100" />
    <node name="panda_link8_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda2_prefix)$(arg panda2_name)_link8 $(arg panda2_name)_link8 100" /> 
    <node name="panda_EE_fix" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg panda2_name)_EE $(arg panda2_prefix)panda_EE 100" />
    <node name="panda_2_to_realsense" pkg="tf" type="static_transform_publisher" args="-0.075 -0.0325 -0.025 -1.57079 3.14159 0  $(arg panda2_prefix)$(arg panda2_name)_flange $(arg panda2_prefix)realsense 100" />
  </group>

  <!-- manual calibration for vision @ EMO -->
  <!-- node name="panda_1_to_calib" pkg="tf" type="static_transform_publisher" args="0.2602 -0.6074 0 0 0 0 1 $(arg panda1_prefix)$(arg panda1_name)_link0 vision_table_calib 100" / -->
  <node name="panda_1_to_calib" pkg="tf" type="static_transform_publisher" args="0.329 0 0 0 0 1 0 $(arg panda1_prefix)$(arg panda1_name)_link0 vision_table_calib 100" />

  <!-- <group ns='panda_1'>
    <node name="panda_1_to_table" pkg="tf" type="static_transform_publisher" args="0 0 0.02 0 0 0 table_rob_1 panda_1/world 100"/>
  </group>

  <group ns='panda_2'>
    <node name="panda_2_to_table" pkg="tf" type="static_transform_publisher" args="0 0 0.02 0 0 0 table_rob_2 panda_2/world 100"/>
  </group> -->

  <!-- Softhand -->
  <include file="$(find reconcycle_description)/launch/display_qbhand.launch" >
    <arg name="robot_gazebo" default="$(arg robot_gazebo)" />
    <arg name="robot_absent" default="$(arg robot_absent)" />
  </include>
  
  <!-- VSA -->
  <include file="$(find reconcycle_description)/launch/softclaw.launch" >
  </include>

  <!-- Screwdriver 
  <include file="$(find reconcycle_description)/launch/display_screwdriver.launch" >
  </include> -->


  <!-- tc_robot_tool --> 
  <include file="$(find reconcycle_description)/launch/display_tc.launch" >
    <arg name="robot_gazebo" default="$(arg robot_gazebo)" />
  </include>

  <include file="$(find reconcycle_description)/launch/softhand_adaptor.launch">
    <arg name="connected_to" value="$(arg panda1_prefix)$(arg panda1_name)_tc_robot" />
  </include>

  <!-- Tool holder and tools
  <include file="$(find reconcycle_description)/launch/display_tools.launch" /> -->

  <!-- RVIZ GUI -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
  
  
  <group ns='vise_tfs'>
    <node name="vise_tfs1" pkg="tf" type="static_transform_publisher" args="0.147867 0.073126 0.181655 1.5707 0 -1.5708 vise vise/pinpush_init 100"/>
    <node name="vise_tfs2" pkg="tf" type="static_transform_publisher" args="0.119729 0.006085 0.353043 1.308997 0  3.141592 vise vise/gapdetect_init 100"/>
    <node name="vise_tfs3" pkg="tf" type="static_transform_publisher" args="0.12 0 0.144 1.57079 0  3.141592 vise vise/lowerplane 100"/>
    <node name="vise_tfs4" pkg="tf" type="static_transform_publisher" args="0.029106 0.05 0.167993 0.05 0 -3.11 vise vise/hcaPickupClaw 100"/>
    <node name="vise_tfs5" pkg="tf" type="static_transform_publisher" args="0.030088 0.096500 0.218909 2.649854 -0.077767 -3.008803 vise vise/hcaDropHand 100"/>
    <node name="vise_tfs6" pkg="tf" type="static_transform_publisher" args="0.067782 0.043684 0.264890 -0.561389 0.397168 3.072768 vise vise/hcaDropHand2 100"/>
    
    <node name="vise_tfs7" pkg="tf" type="static_transform_publisher" args="0 -0.15 0.2 0 0 3.14159 vise vise/hcaDropToBin 100"/>
    
    <!--  Vise VIAs which can change depending on setup ! (safe approach points next to vise)  -->
    <node name="vise_tfs8" pkg="tf" type="static_transform_publisher" args="0.11 -0.095 0.3 1.5708 0 3.14159 vise vise/via1 100"/>
    <node name="vise_tfs9" pkg="tf" type="static_transform_publisher" args="0.2 0.1 0.3 -3.14159 0 3.14159 vise vise/via2 100"/>
    <node name="vise_tfs10" pkg="tf" type="static_transform_publisher" args="0.05 0.2 0.3 -1.5708 0 3.14159 vise vise/via3 100"/>
    
    <!--  Vise TFs used for positioning REALSENSE camera above it. Direct vise2Realsense and vise2EEposition so that realsense is at vise2realsense. -->
    <node name="vise_tfs11" pkg="tf" type="static_transform_publisher" args="0.09 0.098 0.524 -1.5708 0 -3.14159 vise vise/realsense 100"/>
    
    <!--  Vise TFs for placing(rotating) the HCA using the softclaw-->
    <node name="vise_tfs12" pkg="tf" type="static_transform_publisher" args="0.10 0.096 0.233 3.14159 0 -3.14159 vise vise/softclaw_rotated 100"/>

    
    
    

  </group> 
  
  <group ns='cutter_tfs'>
        <node name="cutter_tfs1" pkg="tf" type="static_transform_publisher" args="0.11 -0.01 0.02 0 0 0 1 cutter cutter/plate_outedge1 100"/>
        <node name="cutter_tfs2" pkg="tf" type="static_transform_publisher" args="-0.11 -0.26 0.02 0 0 0 cutter cutter/plate_outedge2 100"/>
        <node name="cutter_tfs3" pkg="tf" type="static_transform_publisher" args="0.05 -0.04 0.02 0 0 0 cutter cutter/plate_inedge1 100"/>
        <node name="cutter_tfs4" pkg="tf" type="static_transform_publisher" args="-0.05 -0.18 0.02 0 0 0 cutter cutter/plate_inedge2 100"/>
        <node name="cutter_tfs5" pkg="tf" type="static_transform_publisher" args="-0.06 -0.018 0.279 0.104 0.077651 -1.500937 cutter cutter/place_sc 100"/>
        <node name="cutter_tfs6" pkg="tf" type="static_transform_publisher" args="0.178576 -0.216199 0.17 0.007748 0.707965 -0.705844 -0.019632 cutter cutter/drop_battery 100"/>

        
        <!-- The cutter-to-realsense-TF and the cutter-to-SOFTCLAW-EE at the perfect realsense position (so you dont have to calc realsense to EE) -->
        <node name="cutter_tfs7" pkg="tf" type="static_transform_publisher" args="0.0233 -0.0915 0.369 -1.573677 0.006159 3.139402 cutter cutter/realsense 100"/>
        <node name="cutter_tfs8" pkg="tf" type="static_transform_publisher" args="-0.01 -0.1315 0.369 1.573677 0.006159 3.139402 cutter cutter/realsense2 100"/>

        <node name="cutter_tfs9" pkg="tf" type="static_transform_publisher" args="-0.066 -0.155 0.194 -0.26 0 -3.14159 cutter cutter/realsense_EE 100"/>
        
        <!-- 
        <node name="cutter_tfs10" pkg="tf" type="static_transform_publisher" args="-0.066 -0.155 0.194 -0.225663 0.003478 -3.136073 cutter cutter/realsense_EE 100"/>   -->
  </group> 
  
  <group ns='visiontable_tfs'>
    <node name="visiontable_tfs1" pkg="tf" type="static_transform_publisher" args="0.22 0.3 0 0 0 3.14159 vision_table_zero vision_table/safepickuplim 100"/>
    <node name="calib_to_zero" pkg="tf" type="static_transform_publisher" args="-0.57 -0.3 0 0 0 0 vision_table_calib vision_table_zero 100"/>
    
    <!--
    <node name="calib_to_zero" pkg="tf" type="static_transform_publisher" args="-0.57 -0.3 0 0.7071 0.7071 0 0 vision_table_calib vision_table_zero 100"/>
    -->
    
  </group> 

</launch>
