<launch>
  <arg name="screwdrv_robot_simulation" default="$(find reconcycle_description)/urdf/screwdriver.xacro" />
  <arg name="screwdriver_model" default="$(find reconcycle_description)/urdf/screwdriver.xacro"/>
  <arg name="robot_gazebo" default="false" />
  <arg name="robot_absent" default="true" />
  <arg name="group" default="screwdriver" />
  <arg name="namespace" default="panda_2" />
  
  <group ns="$(arg group)" >
        <param unless="$(arg robot_gazebo)" name="screwdriver" command="$(find xacro)/xacro $(arg screwdrv_robot_simulation) tc_id:=screwdrv_robot_panda1" />
        <param unless="$(arg robot_gazebo)" name="screwdriver" command="$(find xacro)/xacro $(arg screwdrv_robot_simulation) tc_id:=screwdrv_robot_panda2" />
        <node if="$(arg namespace)" name="screwdrv_to_panda_1" pkg="tf" type="static_transform_publisher" args="0 0 0 -0.785 3.14159 0 panda_1/panda_link8 screwdrv_robot_panda1 100" />
        <node if="$(arg namespace)" name="screwdrv_to_panda_2" pkg="tf" type="static_transform_publisher" args="0 0 0 -0.785 3.14159 0 panda_2/panda_link8 screwdrv_robot_panda2 100"/>
        <node unless="$(arg namespace)" name="screwdrv_to_panda_1" pkg="tf" type="static_transform_publisher" args="0 0 0 -0.785 3.14159 0 panda_1_link8 screwdrv_robot_panda1 100" />
        <node unless="$(arg namespace)" name="screwdrv_to_panda_2" pkg="tf" type="static_transform_publisher" args="0 0 0 -0.785 3.14159 0 panda_2_link8 screwdrv_robot_panda2 100"/>
    </group>
</launch>
