<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

  <arg name="rvizconfig" default="$(find reconcycle_description)/rviz/reconcycle_sim.rviz" />
  <arg name="robot_model" default="$(find franka_panda_description)/robots/panda_arm_hand.urdf.xacro"/>
  <arg name="robot_model_reconcycle" default="$(find reconcycle_description)/urdf/reconcycle_panda.xacro"/>
  <arg name="layout" default="hca_layout.xacro"/>
  <arg name="robot_gazebo" default="false"/>
  <arg name="robot_absent" default="true"/>
  <arg name="rviz" default="true"/>

  <param name="/use_sim_time" value="true" />

  <!-- reconcycle tables -->
  <group ns='table'>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find reconcycle_description)/layouts/$(arg layout)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- qb hand to panda_1/panda_link8 -->

  <include file="$(find reconcycle_description)/launch/display_qbhand.launch" >
    <arg name="robot_gazebo" default="$(arg robot_gazebo)" />
    <arg name="robot_absent" default="$(arg robot_absent)" />
  </include>

  <!-- tools added to rviz - under URDF  -->
  <include file="$(find reconcycle_description)/launch/display_tools.launch" />

  <!-- TF marker frame changer service, attaching visualized object to qb_hand -->
  <group ns="object_to_qbhand_frame_changer">
    <node name="visualized_object_service" pkg="reconcycle_description" type="visualized_object_service.py" output="screen" />
  </group>

  <!-- tc_robot_tool --> 
  <include file="$(find reconcycle_description)/launch/display_tc.launch" >
    <arg name="robot_gazebo" default="$(arg robot_gazebo)" />
  </include>

  <!-- soft hand adaptor with TC and qbhand root_link to soft_hand_adaptor frame -->
  <include file="$(find reconcycle_description)/launch/softhand_adaptor.launch" >
    <arg name="connected_to" default="tc_robot_panda1" />
  </include>

  <!-- vise movable parts/tools (args: slider:=1 /plate:=1 /rotation:=1) -->
  <include file="$(find reconcycle_description)/launch/display_vise.launch" />

  <!-- cutter_blade  -->
  <include file="$(find reconcycle_description)/launch/display_cutter.launch" />

  <!-- robot_description is loaded to parameter server by the launch file for simulation/real controllers -->
  <group ns='panda_1'>
    <node name="panda_1_to_table" pkg="tf" type="static_transform_publisher" args="0 0 0.02 0 0 0 table_rob_1 panda_1/world 100"/>
  </group>

  <group ns='panda_2'>
    <node name="panda_2_to_table" pkg="tf" type="static_transform_publisher" args="0 0 0.02 0 0 0 table_rob_2 panda_2/world 100"/>
  </group>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
