<launch>

  <arg name="connected_to" default="panda_1/panda_1_tc_robot" />
  
  <arg name="schunk_pzh_adapter" default="$(find reconcycle_description)/urdf/schunk_pzh20_adapter.xacro" />

  <arg name="schunk_pzh_gripper" default="$(find reconcycle_description)/urdf/schunk_pzh20.xacro" />
  
  <node name="schunk_pzh_adapter_tf" pkg="tf" type="static_transform_publisher" args="0 0 -0.07 0 0 3.14159 $(arg connected_to) schunk_pzh20_adapter 100"/>
  <node name="schunk_pzh_gripper_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.57 schunk_pzh20_adapter schunk_pzh20 100"/>
  
  <group ns="schunk">
    <param name="robot_description" command="$(find xacro)/xacro $(arg schunk_pzh_gripper)" />
    <param name="adapter_description" command="$(find xacro)/xacro $(arg schunk_pzh_adapter)" />
  </group>

</launch>
