<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

  
  <!-- Gazebo arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="load_gripper" default="false"/>
  <!-- This argument dictates whether gazebo should be launched in this file -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find panda_gazebo)/worlds/panda.world"/>
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>

  
  <include file="$(find reconcycle_description)/launch/spawn_panda_gazebo.launch">
    <arg name="ns" value="panda_1" />
  </include>
  <include file="$(find reconcycle_description)/launch/spawn_panda_gazebo.launch">
    <arg name="ns" value="panda_2" />
    <arg name="initX" value="1.0" />
  </include>

  <include file="$(find reconcycle_description)/launch/display.launch">
    <arg name="robot_gazebo" value="true"/>
  </include>

</launch>
