<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reconcycle" >
    <link name="world"/>

    <!-- Usefull parameters -->
    <!-- <xacro:include filename="$(find reconcycle_description)/urdf/reconcycle_defaults.xacro" /> -->
    <xacro:include filename="$(find reconcycle_description)/urdf/reconcycle_default_models.xacro" />

    <!-- Reconcycle table -->
    <xacro:include filename="$(find reconcycle_description)/urdf/table_module.xacro" />

    <!-- Tables layout -->
    <xacro:arg name="table_0_name" default="table_rob_1"/>
    <xacro:arg name="table_1_name" default="table_cutting"/>
    <xacro:arg name="table_2_name" default="table_tools"/>
    <xacro:arg name="table_3_name" default="table_fixture"/>
    <!-- <xacro:arg name="table_4_name" default="table_output"/> -->
    <xacro:arg name="table_5_name" default="table_rob_2"/>
    <xacro:arg name="table_6_name" default="table_parts"/>
    <xacro:table_module table_id="$(arg table_0_name)" connected_to="world" xyz="0 0 ${table_height}" rpy="0 0 0"/>
    <xacro:table_module table_id="$(arg table_1_name)" connected_to="$(arg table_0_name)" xyz="0 -${table_width} 0" rpy="0 0 0"/>
    <xacro:table_module table_id="$(arg table_2_name)" connected_to="$(arg table_0_name)" xyz="0 ${table_width} 0" rpy="0 0 0"/>
    <xacro:table_module table_id="$(arg table_3_name)" connected_to="$(arg table_0_name)" xyz="${table_width} 0 0" rpy="0 0 1.57"/>
    <!-- <xacro:table_module table_id="$(arg table_4_name)" connected_to="$(arg table_3_name)" xyz="0 -${table_width} 0" rpy="0 0 0"/> -->
    <xacro:table_module table_id="$(arg table_5_name)" connected_to="$(arg table_3_name)" xyz="${table_width} 0 0" rpy="0 0 3.14"/>
    <xacro:table_module table_id="$(arg table_6_name)" connected_to="$(arg table_5_name)" xyz="0 ${table_width} 0" rpy="0 0 0"/>


    <xacro:vise_setup_v2 connected_to="$(arg table_3_name)" xyz="0 0 0"/>
    <xacro:cutter_model connected_to="$(arg table_6_name)" xyz="0 0 0" />
    <xacro:tool_model connected_to="$(arg table_2_name)" xyz="0 0 0" />
    <xacro:tool_frame_1 connected_to="$(arg table_2_name)" xyz="0.18 -0.036 0.355" rpy="0 3.1415 0" />
    <xacro:tool_frame_2 connected_to="$(arg table_2_name)" xyz="0.06 -0.036 0.355" rpy="0 3.1415 0" />
    <xacro:tool_frame_3 connected_to="$(arg table_2_name)" xyz="-0.06 -0.036 0.355" rpy="0 3.1415 0" />
    <xacro:tool_frame_4 connected_to="$(arg table_2_name)" xyz="-0.18 -0.036 0.355" rpy="0 3.1415 0" />


</robot>
