<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reconcycle" >
    <link name="world"/>

    <!-- Usefull parameters -->
    <xacro:include filename="$(find reconcycle_description)/urdf/reconcycle_defaults.xacro" /> 

    <!-- Reconcycle table -->
    <xacro:include filename="$(find reconcycle_description)/urdf/table_module.xacro" />

    <!-- Tables layout -->
    <xacro:arg name="table_0_name" default="table_rob_1"/>
    <xacro:arg name="table_1_name" default="table_cutting"/>
    <xacro:arg name="table_3_name" default="table_fixture"/>
    
    
    <xacro:table_module table_id="$(arg table_0_name)" connected_to="world" xyz="0 0 ${table_height}" rpy="0 0 0"/>
    <xacro:table_module table_id="$(arg table_1_name)" connected_to="$(arg table_0_name)" xyz="0 -${table_width} 0" rpy="0 0 0"/>
    <xacro:table_module table_id="$(arg table_3_name)" connected_to="$(arg table_0_name)" xyz="${table_width} 0 0" rpy="0 0 1.57"/>


    <xacro:vise_setup connected_to="$(arg table_3_name)" xyz="0 0 0"/>



</robot>
